@model List<LoginPage.Models.ClientViewModel>

@{
    ViewData["Title"] = "View Clients";
}

<link href="//cdn.datatables.net/2.2.1/css/dataTables.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="//cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>

<h1>View Clients</h1>
<table id="clientsTable">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Title</th>
            <th>Client Type</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.ClientId</td>
                <td>@client.Name</td>
                <td>@client.Surname</td>
                <td>@client.Title</td>
                <td>@client.ClientType</td>
                <td>@client.Email</td>
                <td>@client.ContactNumber</td>
                <td>@client.Address</td>
            </tr>
        }
    </tbody>
</table>

<script>
    let table = new DataTable("#clientTable", {

    })
</script>
