@model List<LoginPage.Models.ClientViewModel>

@{
    ViewData["Title"] = "View Clients";
}

<br />
<h2>List of Clients</h2>
<a class="btn btn-primary btn-sm" href="@Url.Action("Add", "Add")">Add Client</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Address</th>
            <th>Client Type</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ClientId</td>
                    <td>@item.Title</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Email</td>
                    <td>@item.ContactNumber</td>
                    <td>@item.Address</td>
                    <td>@item.ClientType</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Notes", "Notes")">Notes</a>
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Edit")?id=@item.ClientId">Edit</a>
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Add", "Add")?id=@item.ClientId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>